<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Location</h3>
  </div>
  <div class="panel-body">
    <p>
      <strong>Name:</strong>
      <%= @carrier.name %>
    </p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Experience In</h3>
  </div>
  <div class="panel-body">
    <p>
      <strong>Retail:</strong>
      <%= boolean_yesno(@carrier.exp_in_retail) %>
    </p>
    <p>
      <strong>Receiving International Cargo:</strong>
      <%= boolean_yesno(@carrier.exp_in_intl_cargo) %>
    </p>
    <p>
      <strong>Receiving of Garments on Hangers:</strong>
      <%= boolean_yesno(@carrier.exp_in_garments_on_hangars) %>
    </p>
    <p>
      <strong>Receiving of Non-Commercial Goods:</strong>
      <%= boolean_yesno(@carrier.exp_in_noncommercial_goods) %>
    </p>
    <p>
      <strong>Allocation to Stores or Warehouses' Replenishment Section:</strong>
      <%= boolean_yesno(@carrier.exp_in_replenishment) %>
    </p>
    <p>
      <strong>Handling of Shop Returns:</strong>
      <%= boolean_yesno(@carrier.exp_in_shop_returns) %>
    </p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">General Operations</h3>
  </div>
  <div class="panel-body">
    <p>
      <strong>Ability To Agree On A Two Year Contract:</strong>
      <%= boolean_yesno(@carrier.two_year_contract) %>
    </p>
    <p>
      <strong>Ability To Operate 7 Days A Week And On Bank Holidays:</strong>
      <%= boolean_yesno(@carrier.operate_year_round) %>
    </p>
    <p>
      <strong>Ability To Operate 24 hours A Day:</strong>
      <%= boolean_yesno(@carrier.operate_twentyfour_hours) %>
    </p>
    <p>
      <strong>Ability To Handle Cosmetic Products:</strong>
      <%= boolean_yesno(@carrier.handle_cosmetic_products) %>
    </p>
    <p>
      <strong>Accept 30 Day Payment Terms:</strong>
      <%= boolean_yesno(@carrier.accept_payment_in_thirty_days) %>
    </p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Files</h3>
  </div>
  <div class="panel-body">
    <div class="col-sm-4">
      <% if @carrier.nda? %>
        <p><strong>NDA:</strong> - <%= link_to 'Delete', remove_carrier_nda_path %></p>
        <% if @carrier.imagenda? %>
          <%= link_to image_tag(@carrier.nda.url(:large)), @carrier.nda.url, :class => 'file-thumbnail' %>
        <% else %>
          <%= link_to @carrier.nda_file_name, @carrier.nda.url %>
        <% end %>
      <% else %>
        <p><strong>No NDA uploaded.</strong></p>
      <% end %>
    </div>

    <div class="col-sm-4">
      <% if @carrier.contract? %>
        <p><strong>Contract:</strong> - <%= link_to 'Delete', remove_carrier_contract_path %></p>
        <% if @carrier.imagecontract? %>
          <%= link_to image_tag(@carrier.contract.url(:large)), @carrier.contract.url, :class => 'file-thumbnail' %>
        <% else %>
          <%= link_to @carrier.contract_file_name, @carrier.contract.url %>
        <% end %>
      <% else %>
        <p><strong>No contract uploaded.</strong></p>
      <% end %>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Additional Info</h3>
  </div>
  <div class="panel-body">
    <p>
      <strong>Comments:</strong>
      <%= @carrier.comments %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Contacts At <%= @carrier.name %>.</h3>
      </div>
      <div class="panel-body">
        <% if @carrier.contacts.present? %>
          <% @carrier.contacts.each do |contact| %>
            <%= link_to contact.name, contact %><br>
          <% end %>
        <% else %>
          <strong>No contacts found for this carrier.</strong>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Facilities belonging to <%= @carrier.name %>.</h3>
      </div>
      <div class="panel-body">
        <% if @carrier.facilities.present? %>
          <% @carrier.facilities.each do |facility| %>
            <%= link_to facility do %>
              <%= facility.address %>, <%= facility.city %>, <%= facility.state %>
            <% end %><br>
          <% end %>
        <% else %>
          <strong>No facilities found for this carrier.</strong>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="btn-group">
  <%= link_to 'Edit', edit_carrier_path(@carrier), class: 'btn btn-default' %>
  <%= link_to 'Back', carriers_path, class: 'btn btn-default' %>
</div>
