<div class="well">
  <p class="lead">Please take some time to fill out the information forms below.</p>
  <p>The information you provide will help us understand your business and allow us to easily contact you for future opportunities. Your information will remain secure in our database and will not be shared with outside parties.</p>

  <div class="col-md-4">
    <a class="buttonpanel-link" href="<%= new_carrier_path %>">
      <div class="buttonpanel buttonpanel-blue <%= 'buttonpanel-highlight' if current_user.carrier_name == nil and !current_user.admin %>">
        <span>
          <h3>Step 1: Carrier Registration</h3>
        </span>
      </div>
    </a>
  </div>

<% if current_user.carrier_name != nil or current_user.admin? %>
  <div class="col-md-4">
    <a class="buttonpanel-link <%= 'buttonpanel-disabled' if current_user.carrier_name == nil %>" href="<%= new_facility_path %>">
      <div class="buttonpanel buttonpanel-blue">
        <span>
          <h3>Step 2: Facility Registration</h3>
        </span>
      </div>
    </a>
  </div>
<% else %>
  <div class="col-md-4">
    <div class="buttonpanel buttonpanel-blue buttonpanel-disabled">
      <span>
        <h3>Step 2: Facility Registration</h3>
      </span>
    </div>
  </div>
<% end %>

<% if current_user.carrier_name != nil or current_user.admin? %>
  <div class="col-md-4">
    <a class="buttonpanel-link" href="<%= new_contact_path %>">
      <div class="buttonpanel buttonpanel-blue">
        <span>
          <h3>Step 3: Contact Registration</h3>
        </span>
      </div>
    </a>
  </div>
<% else %>
  <div class="col-md-4">
    <div class="buttonpanel buttonpanel-blue buttonpanel-disabled">
      <span>
        <h3>Step 3: Contact Registration</h3>
      </span>
    </div>
  </div>
<% end %>

  <div class="clearfix"></div>
</div>
