<%= image_tag("GnA_Logo.png", size: "150x150", class: "center-block", alt: "Gumro and Associates Logo" )%>
<h1 class="text-center">Gumro &amp; Associates<br>Carrier Management System</h1>
<hr>
<% if user_signed_in? %>
  <p class="lead text-center">Choose <%= link_to 'Carriers', carriers_path =%>, <%= link_to 'Contacts', contacts_path =%>, or <%= link_to 'Facilities', facilities_path =%> to get started.</p>
<% else %>
  <p class="lead text-center">Please <%= link_to 'Log In', new_user_session_path =%> or <%= link_to 'Sign Up', new_user_registration_path =%>.</p>
<% end %>

<div class="row row-centered">
  <div class="col-sm-6 col-sm-offset-3 well">
    <h2>Development Log</h2><hr>
    <h3>Recent Changes:</h3>
    <ul>
      <li>Added some visual styling.</li>
      <li>Added more information to Carriers and Facilities pages.</li>
      <li>Tapping a Contact's phone # from a smartphone will call them.</li>
      <li>Asks if you're sure before deleting an entry.</li>
      <li>Added Edit and Delete functions to Carriers, Contacts and Facilities.</li>
      <li>Added success and error messages.</li>
      <li>Passwords are now encrypted.</li>
      <li>Added user account functionality.</li>
      <li>Joined Contacts and Facilities tables to Carriers table.</li>
      <li>Created tables for Carriers, Contacts, and Facilities.</li>
      <li>Database built.</li>
    </ul>
    <h3>To Do:</h3>
    <ul>
      <li>Add contacts and facilities to carriers' detail pages.</li>
      <li>Add has-NDA and NDA-expiration-date fields to carriers table.</li>
      <li>Make contacts' email addresses clickable.</li>
      <li>Add page for unregistered users to submit their own contact information.</li>
      <li>Add more info to Facilities cards.</li>
      <li>Add Comments column to Contacts database.</li>
      <li>Fix search functionality.</li>
    </ul>
  </div>
</div>
