<%= form_for @facility, html: {class: 'form-horizontal'} do |f| %>
  <% if @facility.errors.any? %>
    <div class="alert alert-danger alert-dismissible" id="error_explanation" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <% @facility.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Location</h3>
    </div>
    <div class="panel-body">
      <% if current_user.try(:admin?) %>
        <div class="row form_group">
          <%= f.label :carrier, class: 'col-sm-2 control-label' %>
          <div class="col-sm-5">
            <%= f.select :carrier_id, options_for_select(@carriers.map{ |s| [s.name, s.id] }, params[:carrier_id]), include_blank: 'Select a carrier', class: 'form-control' %>
          </div>
        </div>
      <% end %>
      <div class="row form_group">
        <%= f.label :address, class: 'col-sm-2 control-label' %>
        <div class="col-sm-5">
          <%= f.text_field :address, class: 'form-control' %>
        </div>
      </div>
      <div class="row form_group">
        <%= f.label :city, class: 'col-sm-2 control-label' %>
        <div class="col-sm-5">
          <%= f.text_field :city, class: 'form-control' %>
        </div>
      </div>
      <div class="row form_group">
        <%= f.label :state, class: 'col-sm-2 control-label' %>
        <div class="col-sm-5">
          <%= f.text_field :state, class: 'form-control' %>
        </div>
      </div>
      <div class="row form_group">
        <%= f.label :size, "Size (sq ft)", class: 'col-sm-2 control-label' %>
        <div class="col-sm-5">
          <%= f.text_field :size, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Facility</h3>
    </div>
    <div class="panel-body">
      <div class="form_control">
        <%= f.check_box :has_security %>
        <%= f.label :has_security %>
      </div>
      <div class="form_control">
        <%= f.check_box :has_CCTV %>
        <%= f.label :has_CCTV %>
      </div>
      <div class="form_control">
        <%= f.check_box :has_fence %>
        <%= f.label :has_fence %>
      </div>
      <div class="form_control">
        <%= f.check_box :has_sprinklers %>
        <%= f.label :has_sprinklers %>
      </div>
      <div class="form_control">
        <%= f.check_box :has_fire_alarm %>
        <%= f.label :has_fire_alarm %>
      </div>
      <div class="form_control">
        <%= f.check_box :has_burglar_alarm %>
        <%= f.label :has_burglar_alarm %>
      </div>
      <div class="form_control">
        <%= f.check_box :has_drop_yard %>
        <%= f.label :has_drop_yard %>
      </div>
      <div class="form_control">
        <%= f.check_box :separate_caged_area_for_gas_tanks %>
        <%= f.label :separate_caged_area_for_gas_tanks %>
      </div>
      <div class="form_control">
        <%= f.label :terminal_door_count %><br>
        <%= f.number_field :terminal_door_count %>
      </div>
      <div class="form_control">
        <%= f.label :hours_of_operation %><br>
        <%= f.text_field :hours_of_operation %>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Equipment</h3>
    </div>
    <div class="panel-body">
      <div class="form_control">
        <%= f.check_box :has_GPS %>
        <%= f.label :has_GPS %>
      </div>
      <div class="form_control">
        <%= f.check_box :has_alternate_fuel %>
        <%= f.label :has_alternate_fuel %>
      </div>
      <div class="form_control">
        <%= f.check_box :has_standard_equipment_types %>
        <%= f.label :has_standard_equipment_types %>
      </div>
      <div class="form_control">
        <%= f.label :average_equipment_age %> in years<br>
        <%= f.number_field :average_equipment_age %>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Drivers</h3>
    </div>
    <div class="panel-body">
      <div class="form_control">
        <%= f.check_box :drivers_are_screened %>
        <%= f.label :drivers_are_screened %>
      </div>
      <div class="form_control">
        <%= f.check_box :has_high_driver_turnover %>
        <%= f.label :has_high_driver_turnover %>
      </div>
      <div class="form_control">
        <%= f.check_box :holds_driver_training %>
        <%= f.label :holds_driver_training %>
      </div>
      <div class="form_control">
        <%= f.check_box :driver_scan %>
        <%= f.label :driver_scan, "Driver scanning capabilities?" %>
      </div>
      <div class="form_control">
        <%= f.check_box :independant_contractors %>
        <%= f.label :independant_contractors, "Have independant contractors?" %>
      </div>
      <div class="form_control">
        <%= f.check_box :company_drivers %>
        <%= f.label :company_drivers, "Have company drivers?" %>
      </div>
      <div class="form_control">
        <%= f.label :ratio_independant_company, "Independant to company driver ratio" %> <br>
        <%= f.text_field :ratio_independant_company %>
      </div>
      <div class="form_control">
        <%= f.label :average_theft_rate %> <br>
        <%= f.number_field :average_theft_rate %>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Vehicle Counts</h3>
    </div>
    <div class="panel-body">
      <div class="form_control">
        24'<br>
        <%= f.number_field :vehicle_count_24 %>
      </div>
      <div class="form_control">
        26'<br>
        <%= f.number_field :vehicle_count_26 %>
      </div>
      <div class="form_control">
        48'<br>
        <%= f.number_field :vehicle_count_48 %>
      </div>
      <div class="form_control">
        53'<br>
        <%= f.number_field :vehicle_count_53 %>
      </div>
      <div class="form_control">
        Sprinter Vans<br>
        <%= f.number_field :vehicle_count_sprinter_vans %>
      </div>
      <div class="form_control">
        Flat Beds<br>
        <%= f.number_field :vehicle_count_flat_beds %>
      </div>
      <div class="form_control">
        Reefers<br>
        <%= f.number_field :vehicle_count_reefers %>
      </div>
    </div>
  </div>

  <p class="text-muted">This form contains proprietary information, trade secret information, copyrighted materials, or any combination thereof and will not be reproduced, published, used, or otherwise disseminated without your express written permission. The contents of this form are protectable under the Economic Espionage Act, 18 U.S.C. ยง1831 et seq., the Electronic Communications Privacy Act, 18 U.S.C. ยง2510 et seq., the Copyright Act, 17 U.S.C. ยง101 et seq., the Michigan Uniform Trade Secret Act ยง445.1901 et seq., as well as common law; applicable law provides criminal remedies, civil remedies, or both for the unauthorized reproduction, publication, use, or dissemination of the contents of this form or any attached files.  This form is intended solely for the use of the individual or entity addressed above; if you have received this form in error, please notify the sender.</p>

  <div class="actions">
    <%= f.submit 'Submit', :class => 'btn btn-primary' %>
  </div><br>
<% end %>
