<%= form_for(@facility) do |f| %>
  <% if @facility.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facility.errors.count, "error") %> prohibited this facility from being saved:</h2>

      <ul>
      <% @facility.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Location</h3>
    </div>
    <div class="panel-body">
      <% if current_user.try(:admin?) %>
        <div class="field">
          <p><%= f.label :carrier %>:
          <%= f.select :carrier_id, options_for_select(@carriers.map{ |s| [s.name, s.id] }, params[:carrier_id]) %></p>
        </div>
      <% end %>
      <div class="field">
        <p><%= f.label :address %>:
        <%= f.text_field :address %></p>
      </div>
      <div class="field">
        <p><%= f.label :city %>:
        <%= f.text_field :city %></p>
      </div>
      <div class="field">
        <p><%= f.label :state %>:
        <%= f.text_field :state %></p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Facility</h3>
    </div>
    <div class="panel-body">
      <div class="field">
        <p><%= f.label :size %> (square feet):
        <%= f.text_field :size %></p>
      </div>
      <div class="field">
        <%= f.check_box :has_security %> <strong>Has Security</strong>
      </div>
      <div class="field">
        <%= f.check_box :has_CCTV %> <strong>Has CCTV</strong>
      </div>
      <div class="field">
        <%= f.check_box :has_fence %> <strong>Has Fence</strong>
      </div>
      <div class="field">
        <%= f.check_box :has_sprinklers %> <strong>Has Sprinklers</strong>
      </div>
      <div class="field">
        <%= f.check_box :has_fire_alarm %> <strong>Has Fire Alarm</strong>
      </div>
      <div class="field">
        <%= f.check_box :has_burglar_alarm %> <strong>Has Burglar Alarm</strong>
      </div>
      <div class="field">
        <%= f.check_box :has_drop_yard %> <strong>Has Drop Yard</strong>
      </div>
      <div class="field">
        <%= f.check_box :separate_caged_area_for_gas_tanks %> <strong>Separate caged area for gas tanks</strong>
      </div>
      <div class="field">
        <%= f.label :terminal_door_count %><br>
        <%= f.number_field :terminal_door_count %>
      </div>
      <div class="field">
        <%= f.label :hours_of_operation %><br>
        <%= f.text_field :hours_of_operation %>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Equipment</h3>
    </div>
    <div class="panel-body">
      <div class="field">
        <%= f.check_box :has_GPS %> <strong>Has GPS</strong>
      </div>
      <div class="field">
        <%= f.check_box :has_alternate_fuel %> <strong>Has Alternate Fuel</strong>
      </div>
      <div class="field">
        <%= f.check_box :has_standard_equipment_types %> <strong>Has Standard Equipment Types</strong>
      </div>
      <div class="field">
        <%= f.label :average_equipment_age %> in years<br>
        <%= f.number_field :average_equipment_age %>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Drivers</h3>
    </div>
    <div class="panel-body">
      <div class="field">
        <%= f.check_box :drivers_are_screened %> <strong>Drivers Are Screened</strong>
      </div>
      <div class="field">
        <%= f.check_box :has_high_driver_turnover %> <strong>Has High Driver Turnover</strong>
      </div>
      <div class="field">
        <%= f.check_box :holds_driver_training %> <strong>Holds Driver Training</strong>
      </div>
      <div class="field">
        <%= f.check_box :driver_scan %> <strong>Driver Scanning Capabilities</strong>
      </div>
      <div class="field">
        <%= f.check_box :independant_contractors %> <strong>Have Independant Contractors?</strong>
      </div>
      <div class="field">
        <%= f.check_box :company_drivers %> <strong>Have Company Drivers?</strong>
      </div>
      <div class="field">
        <strong>Independant to Company Driver Ratio</strong><br>
        <%= f.text_field :ratio_independant_company %>
      </div>
      <div class="field">
        <%= f.label :average_theft_rate %> %<br>
        <%= f.number_field :average_theft_rate %>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Vehicle Counts</h3>
    </div>
    <div class="panel-body">
      <div class="field">
        <strong>24'</strong><br>
        <%= f.number_field :vehicle_count_24 %>
      </div>
      <div class="field">
        <strong>26'</strong><br>
        <%= f.number_field :vehicle_count_26 %>
      </div>
      <div class="field">
        <strong>48'</strong><br>
        <%= f.number_field :vehicle_count_48 %>
      </div>
      <div class="field">
        <strong>53'</strong><br>
        <%= f.number_field :vehicle_count_53 %>
      </div>
      <div class="field">
        <strong>Sprinter Vans</strong><br>
        <%= f.number_field :vehicle_count_sprinter_vans %>
      </div>
      <div class="field">
        <strong>Flat Beds</strong><br>
        <%= f.number_field :vehicle_count_flat_beds %>
      </div>
      <div class="field">
        <strong>Reefers</strong><br>
        <%= f.number_field :vehicle_count_reefers %>
      </div>
    </div>
  </div>

  <p class="text-muted">This form contains proprietary information, trade secret information, copyrighted materials, or any combination thereof and will not be reproduced, published, used, or otherwise disseminated without your express written permission. The contents of this form are protectable under the Economic Espionage Act, 18 U.S.C. ยง1831 et seq., the Electronic Communications Privacy Act, 18 U.S.C. ยง2510 et seq., the Copyright Act, 17 U.S.C. ยง101 et seq., the Michigan Uniform Trade Secret Act ยง445.1901 et seq., as well as common law; applicable law provides criminal remedies, civil remedies, or both for the unauthorized reproduction, publication, use, or dissemination of the contents of this form or any attached files.  This form is intended solely for the use of the individual or entity addressed above; if you have received this form in error, please notify the sender.</p>

  <div class="actions">
    <%= f.submit 'Submit', :class => 'btn btn-primary' %>
  </div><br>
<% end %>
