<h1>Facilities</h1>

<div class="well" style="margin: 40px 0;">
  <div class="row">
    <div class="col-sm-4">
      <%= search_form_for @search do |f| %>
        <div class="input-group">
          <%= f.text_field :carrier_name_cont, class: 'form-control', placeholder: "Carrier Name"  %>
          <div class="input-group-btn">
            <%= button_tag "", type: 'submit', class: "btn btn-default glyphicon glyphicon-search pull-right" %>
          </div>
        </div>
      <% end %>

      <%= search_form_for @search do |f| %>
        <div class="input-group">
          <%= f.text_field :city_cont, class: 'form-control', placeholder: "City" %>
          <div class="input-group-btn">
            <%= button_tag "", type: 'submit', class: "btn btn-default glyphicon glyphicon-search pull-right" %>
          </div>
        </div>
      <% end %>

      <%= search_form_for @search do |f| %>
        <div class="input-group">
          <%= f.text_field :state_cont, class: 'form-control', placeholder: "State" %>
          <div class="input-group-btn">
            <%= button_tag "", type: 'submit', class: "btn btn-default glyphicon glyphicon-search pull-right" %>
          </div>
        </div>
      <% end %>

      <%= search_form_for @search do |f| %>
        <div class="input-group">
          <%= f.label :has_security_true, "Has Security" %>
          <%= f.check_box :has_security_true, :checked => @search.has_security_true, :unchecked => @search.has_security_false, placeholder: "State" %>
          <div class="input-group-btn">
            <%= button_tag "", type: 'submit', class: "btn btn-default glyphicon glyphicon-search pull-right" %>
          </div>
        </div>
      <% end %>


      <%= link_to 'Reset', facilities_path, class: 'btn btn-default' %>

    </div>

    <div class="col-sm-4 col-sm-offset-4">
      <%= link_to new_facility_path, class: 'btn btn-success pull-right' do %>
        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i> New Facility
      <% end %>
    </div>
  </div>
</div>

<% @facilities.each do |facility| %>
  <div class="card">
    <div class="content">

      <!-- edit and delete buttons -->
      <div class="btn-group pull-right" role="group" aria-label="...">
        <%= link_to edit_facility_path(facility), class: 'btn btn-default' do %>
          <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>
        <% end %>
        <%= link_to facility, method: :delete, data: { confirm: 'Woah! Careful, buddy. You sure you wanna delete this facility?' }, class: 'btn btn-danger' do %>
          <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
        <% end %>
      </div>

      <span class="title"><%= link_to facility.carrier.name, facility %></span>
      <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <%= facility.address %>, <%= facility.city %>, <%= facility.state %></p>
    </div>
  </div>
<% end %>
