<h1>Facilities</h1>

<div class="well" style="margin: 40px 0;">
  <div class="row">
    <div class="col-sm-4">
      <%= form_tag(facilities_path, :method => "get", id: "search-form", class: 'form-inline') do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Facilities", class: 'form-control' %>
        <%= submit_tag "Search", class: 'btn btn-default' %>
      <% end %>
    </div>
    <div class="col-sm-4">
      <%= form_tag(facilities_path, :method => "get", id: "search-form", class: 'form-inline') do %>
        <%= text_field_tag :searchState, params[:searchState], placeholder: "Search by State", class: 'form-control' %>
        <%= submit_tag "Search", class: 'btn btn-default' %>
      <% end %>
    </div>
    <div class="col-sm-4">
      <%= link_to 'New Facility', new_facility_path, class: 'btn btn-primary pull-right' %>
    </div>
  </div>
</div>

<% @facilities.each do |facility| %>
  <div class="card">
    <div class="content">

      <!-- edit and delete buttons -->
      <div class="btn-group pull-right" role="group" aria-label="...">
        <%= link_to edit_facility_path(facility), class: 'btn btn-default' do %>
          <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>
        <% end %>
        <%= link_to facility, method: :delete, data: { confirm: 'Woah! Careful, buddy. You sure you wanna delete this facility?' }, class: 'btn btn-danger' do %>
          <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
        <% end %>
      </div>

      <span class="title"><%= link_to facility.carrier.name, facility %></span>
      <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <%= facility.address %>, <%= facility.city %>, <%= facility.state %></p>
    </div>
  </div>
<% end %>
