<p>
  <strong>Address:</strong>
  <%= @facility.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @facility.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @facility.state %>
</p>

<p>
  <strong>Carrier:</strong>
  <%= @facility.carrier.name %>
</p>

<%= link_to 'Edit', edit_facility_path(@facility), class: 'btn btn-default' %>
<%= link_to 'Back', facilities_path, class: 'btn btn-default' %>
