<p>
  <strong>Address:</strong>
  <%= @facility.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @facility.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @facility.state %>
</p>

<%= link_to 'Edit', edit_facility_path(@facility) %> |
<%= link_to 'Back', facilities_path %>
