<h1>Contacts</h1>

<div class="well" style="margin: 40px 0;">
  <div class="row">
    <div class="col-sm-4">
      <%= form_tag(contacts_path, :method => "get", id: "search-form", class: 'form-inline') do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Contacts", class: 'form-control' %>
        <%= submit_tag "Search", class: 'btn btn-primary' %>
        <%= link_to 'Reset', contacts_path, class: 'btn btn-default' =%>
      <% end %>
    </div>
    <div class="col-sm-8">
      <%= link_to new_contact_path, class: 'btn btn-success pull-right' do %>
        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i> New Contact
      <% end %>
    </div>
  </div>
</div>

<div class="contacts">
<% @contacts.each do |contact| %>
  <div class="card">
    <div class="content">

      <!-- edit and delete buttons -->
      <div class="btn-group pull-right" role="group" aria-label="...">
        <%= link_to edit_contact_path(contact), class: 'btn btn-default' do %>
          <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>
        <% end %>
        <%= link_to contact, method: :delete, data: { confirm: 'Woah! Careful, buddy. You sure you wanna delete this contact?' }, class: 'btn btn-danger' do %>
          <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
        <% end %>
      </div>

      <span class="title"><%= link_to contact.name, contact %></span>
      <p><strong><%= contact.title %></strong></p>
      <p><%= contact.carrier.name %></p>
      <hr>

      <a href="mailto:<%= contact.email %>" class="hidden-links">
        <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <%= contact.email %></p>
      </a>

      <a href= "tel:<%= contact.phone %>" class="hidden-links">
        <p><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> <%= contact.phone %></p>
      </a>
    </div>
  </div>
<% end %>
</div>
