<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Title:</strong>
  <%= @contact.title %>
</p>

<p>
  <strong>Carrier:</strong>
  <%= @contact.carrier.name %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact), class: 'btn btn-default' %>
<%= link_to 'Back', contacts_path, class: 'btn btn-default' %>
